.title-page {
    margin-top: 50px;
    margin-bottom: 25px;
}

.description {
  margin-left: 250px;
  margin-right: 250px;
    }
#carouselExample{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 350px;

}
.line1{
    display:flex;
    justify-content: center;
	align-items: center;

}
.line2{
    display:flex;
    justify-content: center;
	align-items: center;
  margin-left: 300px;
  margin-right: 300px;
    }
.line1{
    display:inline-flex;
    justify-content:center;

}
.line2{
    display:inline-flex;

}
.recipe1 img{
    display:flex;
    margin-left:100px;
    width: 400px;
    height: 270px;
    padding: 20px;
    left: 17.7%;
    top: 47.4%;

    }
    
.recipe2 img{
    display:flex;
    width: 450px;
    height: 270px;
    padding: 20px;
    left: 42.7%;
    top: 47.4%;
    }
    
.recipe3 img{
    display:flex;
    width: 450px;
    height: 270px;
    padding: 20px;
    left: 65.9%;
    top: 47.5%;
    }
    
.recipe4 img{
    
    display:flex;
    margin-left:100px;
    width: 400px;
    height: 270px;
    padding: 20px;
    left: 17.7%;
    top: 64.1%;
    }

.recipe5 img{
    display:flex;
    width: 450px;
    height: 270px;
    padding: 20px;
    left: 42.9%;
    top: 64.1%;
    }
    
.recipe6 img{
    display:flex;
    width: 450px;
    height: 270px;
    padding: 20px;
    left: 65.4%;
    top: 64.1%;
    }

