.popup {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 32px;
    width: 100%;
    height: 300px;
    max-width: 640px;
    background-color: white;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: var(--main-color);
    color: var(--main-color-text);
    border-color: var(--main-color);
    font-family: var(--main-font-text);
    border-radius: 5px;
    margin-bottom: 15px;
}