
.title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-bottom: 0;
}

 #linkedin-img {
padding-top: 25px;
padding-bottom: 25px;
border-radius: 50px;
width: 1.5rem;
 }

.team-member-img {
    padding-top: 0;
    max-height: 450px;
    max-width: 450px;
 }
  

 @media screen and (min-width: 641px) {
.team-card {
    max-width: 50%;
}
.title-container {
    max-width: 50%;
}
 }