.navbar {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  padding: 10px;
}

#logo {
  max-height: 60px;
  max-width: 60px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.brand-name {
  align-items: center;
  margin-bottom: 0;
}

